<a href="https://colab.research.google.com/github/HyunJung900/data/blob/master/Chapter_3_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1) 숫자형
## 숫자형 사용법
* 파이썬 모든 자료형
* 데이터 타입 선언
* 연산자 활용
* 형 변환
* 외부 모듈 사용

## 숫자형(1-1) : 계산의 기본은 숫자형

### 파이썬 지원 자료형
* int : 정수
* float : 실수
* complex ; 복소수
* bool : 불린
* str : 문자열(시퀀스)
* list : 리스트(시퀀스)
* tuple : 튜플(시퀀스)
* set : 집합
* dict : 사전

In [14]:
str1 = "Python"
bool1 = True
str2 = 'Anaconda'
float1 = 10.0                        # 10 == 10.0 은 다름! 타입이 다르기 때문
int1 = 7
list1 = [str1, str2]
dict1 = {
    "name" : "Machine Learning",
    "version" : 2.0
}                                   # key : value
tuple1 = (7, 8, 9)                   # tuple = 7, 8, 9     <- 이것도 동일
set1 = {7, 8, 9}

In [15]:
print(type(str1))
print(type(bool1))
print(type(str2))
print(type(float1))
print(type(int1))
print(type(list1))
print(type(dict1))
print(type(tuple1))
print(type(set1))

<class 'str'>
<class 'bool'>
<class 'str'>
<class 'float'>
<class 'int'>
<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'set'>

### 숫자형 연산자
* +
* -
* *
* /
* // : 몫
* % : 나머지
* abs(x) : 절대값
* pow(x, y) : x의 y 제곱 == x ** y

+) 서로 다른 형끼리 계산을 하면 형 변환이 일어난다.

In [5]:
# 정수
i = 77
i2 = -14
big_int = 777777777777777777777777777777777777777779999999999999999999999999

In [6]:
# 실수
f = 0.9999
f2 = 3.141592
f3 = -3.9
f4 = 3 / 9

In [9]:
# 연산 실습
i1 = 39
i2 = 939
big_int1 = 7777777777777777777777777777777777777777777999999999999999999923234
big_int2 = 234534547634847839485729394859288178111111111222233333333333345555
f1 = 1.234
f2 = 3.939

In [10]:
# +
print(">>>>> +")
print("i1 + i2 : ", i1 + i2)
print("f1 + f2 : ", f1 + f2)
print("big_int1 + big_int2 : ", big_int1 + big_int2)

>>>>> +
i1 + i2 :  978
f1 + f2 :  5.173
big_int1 + big_int2 :  8012312325412625617263507172637065955888889111222233333333333268789

## 숫자형(1-2)

In [17]:
# 형 변환 실습
a = 3.
b = 6           # int
c = .7
d = 12.7

In [12]:
# 타입 출력
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'float'>
<class 'int'>
<class 'float'>
<class 'float'>

In [22]:
del float
del int

In [24]:
# 형 변환
print(float(b))
print(int(c))
print(int(d))
print(int(True))            # True : 1, False : 0
print(float(False))
print(complex(3))
print(complex('3'))         # 문자형 -> int -> comple
print(complex(False))

6.0
0
12
1
0.0
(3+0j)
(3+0j)
0j

In [25]:
# 수치 연산 함수
print(abs(-7))

x, y = divmod(100, 8)           # x : 몫, y : 나머지
print(x, y)

print(pow(5, 3), 5**3)

7
12 4
125 125

In [27]:
# 외부 모듈
import math

print(math.pi)
print(math.ceil(5.1))           # x 이상의 수 중에서 가장 작은 정수

3.141592653589793
6

# 2) 문자형

## 문자형(2-1) : 텍스트 출력도 중요하겠죠?

In [2]:
# 문자열 생성
str1 = "I am Python"
str2 = 'Python'
str3 = """How are you?"""
str4 = '''Thank you!'''

# 타입
print(type(str1), type(str2), type(str3), type(str4))

# 길이
print(len(str1), len(str2), len(str3), len(str4))

<class 'str'> <class 'str'> <class 'str'> <class 'str'>
11 6 12 10

In [3]:
# 빈 문자열
str1_t1 = ''
str2_t2 = str()

print(type(str1_t1), len(str1_t1))
print(type(str2_t2), len(str2_t2))

<class 'str'> 0
<class 'str'> 0

### 참고 : Escape 코드
* \n : 개행
* \t : 탭
* \\ : 문자
* \' : 문자
* \" : 문자
* \000 : 널 문자

In [4]:
# 이스케이프 문자 사용
print("I'm a boy")
print('I\'m a boy')       # 이스케이프 문자 사용 : 뒤에 있는 특수기호를 그대로 출력

I'm a boy
I'm a boy

In [5]:
print('a \t b')         # 탭
print('a \n b')         # 줄바꿈

a 	 b
a
 b

In [6]:
escape_str1 = "Do you have a \"retro games\"?"
print(escape_str1)

Do you have a "retro games"?

In [8]:
escape_str2 = 'What\'s on TV?'
print(escape_str2)

What's on TV?

In [9]:
# 탭, 줄 바꿈
t_s1 = "Click \t Start!"
t_s2 = 'New Line \n Check!'

print(t_s1)
print(t_s2)

Click 	 Start!
New Line
 Check!

In [10]:
# Raw String <-> escape
raw_s1 = r'D:\python\test'
print(raw_s1)

D:\python\test

## 문자형(2-2)

In [12]:
# 멀티라인 입력
multi_str = \                       # 이 뒤에 계속하여 변수 선언을 할거다!
"""
오늘은 크리스마스 이브이다
근데 나는 집이다
좋은데 안좋다
무슨 느낌일까요
"""

print(multi_str)

오늘은 크리스마스 이브이다
근데 나는 집이다
좋은데 안좋다
무슨 느낌일까요

### 문자열 연산

In [13]:
str_o1 = "Python"
str_o2 = "Apple"
str_o3 = "How are you doing"
str_o4 = "Seoul Deajoen Busan Jinju"

In [14]:
# 반복 출력
print(str_o1 * 3)

# 문자 병합
print(str_o1 + str_o2)

# 문자 내 특정 문자열 포함 여부
print('y' in str_o1)
print('P' not in str_o2)          # 대소문자 구분 함!

PythonPythonPython
PythonApple
True
True

### 문자열 형변환

In [16]:
print(str(66), type(str(66)))
print(str(10.1))
print(str(True), type(str(True)))

66 <class 'str'>
10.1
True <class 'str'>

### 문자열 함수 (upper, isalnum, startswith, count, endswith, isalpha ...)

In [18]:
# 첫번째 시작 글자를 대문자로
print("Capitalize : ", str_o1.capitalize())

# 마지막 문자가 특정 문자열이 맞는지 체크
print("endswith : ", str_o2.endswith("e"))

# 특정 문자열을 대체
print("replace : ", str_o1.replace("thon", 'Good'))

# 리스트 형태로 각 문자열을 정렬
print("sorted : ", sorted(str_o1))

# 특정 문자열을 기준으로 잘라서, 리스트 형태로 분리
print("split : ", str_o4.split(' '))

Capitalize :  Python
endswith :  True
replace :  PyGood
sorted :  ['P', 'h', 'n', 'o', 't', 'y']
split :  ['Seoul', 'Deajoen', 'Busan', 'Jinju']

### 반복(시퀀스)

In [19]:
im_str = "Good Boy!"

print(dir(im_str))            # __iter__

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [20]:
# 출력
for i in im_str :
  print(i)

G
o
o
d

B
o
y
!

## 문자형(2-3)

### 슬라이싱 연습

In [21]:
str_sl = "Nice Python"

In [22]:
print(str_sl[0:3])        # 인덱스 기준이고, a:b 는 a~b-1까지
print(str_sl[5:])         # [5:11]
print(str_sl[:len(str_sl)])     # str_sl[:11]
print(str_sl[1:4:2])            # 1부터 3까지인데 2칸씩 띄어서 갖고와라

Nic
Python
Nice Python
ie

In [23]:
print(str_sl[-5:])
print(str_sl[1:-2])

ython
ice Pyth

In [24]:
print(str_sl[::2])        # 처음부터 끝까지 두칸씩
print(str_sl[::-1])       # 처음부터 끝까지인데 거꾸로!

Nc yhn
nohtyP eciN

### 아스키 코드 (또는 유니코드)

In [25]:
a = 'z'

# 아스키 코드로
print(ord(a))

122

In [26]:
# 문자로
print(chr(122))

z

# 3) 리스트(List)

## 리스트(3-1) : 집합 구조의 첫 걸음은 리스트 자료형
자료 구조에서 중요

리스트 자료형(순서O, 중복O, 수정O, 삭제O)

In [28]:
# 선언
a = []
b = list()
c = [70, 75, 80, 85]
d = [1000, 10000, 'Ace', 'Base', 'Captine']
e = [1000, 10000, ['Ace', 'Base', 'Captine']]
f = [21.42, 'footbar', 3, 4, False, 3.14159]

In [30]:
# 인덱싱
print('d - ', type(d), d)
print('d - ', d[1])
print('d - ', d[0] + d[1] + d[1])
print('d - ', d[-1])
print('e - ', e[-1][1])
print('e - ', list(e[-1][1]))

d -  <class 'list'> [1000, 10000, 'Ace', 'Base', 'Captine']
d -  10000
d -  21000
d -  Captine
e -  Base
e -  ['B', 'a', 's', 'e']

In [31]:
# 슬라이싱
print('d - ', d[0:3])
print('d - ', d[2:])
print('e - ', e[-1][1:3])

d -  [1000, 10000, 'Ace']
d -  ['Ace', 'Base', 'Captine']
e -  ['Base', 'Captine']

In [32]:
# 리스트 연산 : 리스트 연산하면 리스트가 나온다
print('c + d', c + d)
print('c * 3', c * 3)
print("'Test' + c[0]", 'Test' + str(c[0]))

c + d [70, 75, 80, 85, 1000, 10000, 'Ace', 'Base', 'Captine']
c * 3 [70, 75, 80, 85, 70, 75, 80, 85, 70, 75, 80, 85]
'Test' + c[0] Test70

## 리스트(3-2)

In [33]:
# 값 비교
print(c == c[:3] + c[3:])

True

In [35]:
# Identity(id) : 집주소
temp = c
print(temp, c)
print(id(temp))
print(id(c))

[70, 75, 80, 85] [70, 75, 80, 85]
136090633157760
136090633157760

### 리스트 수정, 삭제

In [36]:
c[0] = 4
print('c - ', c)      # 바로 수정이 됨

c -  [4, 75, 80, 85]

In [ ]:
# 수정
c[1:2] = ['a', 'b', 'c']      # [['a', 'b', 'c']]
print('c - ', c)      # 75 대신에 위 문자들이 들어가는데, 리스트 형태로 들어가는 것이 아닌, 각 원소들이 들어감

c[1] = ['a', 'b', 'c']
print('c - ', c)      # 리스트 형태로 들어감

c[1:3] = []       # 위 부분이 삭제

In [ ]:
# 삭제
del c[2]
print('c - ', c)

### 리스트 함수

In [37]:
a = [5, 2, 3, 1, 4]
print('a - ', a)

a -  [5, 2, 3, 1, 4]

In [38]:
# 끝에 추가
a.append(10)
print('a - ', a)

a -  [5, 2, 3, 1, 4, 10]

In [40]:
# 정렬
a.sort()
print('a - ', a)

a -  [1, 2, 3, 4, 5, 10]

In [44]:
# 역순 정렬
a.reverse()
print('a - ', a)

a -  [1, 2, 3, 4, 7, 5, 10]

✋ 중간에 삽입 코드를 진행한 후, 다시 reverse를 했을 때, 왜 5가 7보다 뒤에 있을까?

In [42]:
# 인덱스 조회
print('a - ', a.index(3), a[3])     # 동일한 결과

a -  3 3

In [43]:
# 중간에 삽입
a.insert(2, 7)      # a 위치에 b를 넣을거임
print('a - ', a)

a -  [10, 5, 7, 4, 3, 2, 1]

In [45]:
# 제거 : 데이터의 규모가 크면 del 로 제거하는게 어려움
a.remove(10)
print('a - ', a)

a -  [1, 2, 3, 4, 7, 5]

In [47]:
# 마지막 원소를 꺼내오고, 리스트에서는 해당 원소를 삭제 -> 자료구조에서 많이 씀
print('a - ', a.pop())
print('a - ', a)

a -  7
a -  [1, 2, 3, 4]

In [48]:
# 특정 원소값의 갯수가 몇개인지 (존재/중복 여부 파악)
print('a - ', a.count(4))

a -  1

In [49]:
# 뒤로 연장 (append랑 비슷)
ex = [8, 9]
a.extend(ex)
print('a - ', a)

a -  [1, 2, 3, 4, 8, 9]

In [ ]:
# 삭제 : remove, pop, del

In [50]:
# 반복문 활용
while a :
  data = a.pop()
  print(data)

9
8
4
3
2
1

# 4) 튜플

## 튜플(4-1) : 튜플은 리스트와 거의 비슷해요.

리스트와 비교가 중요
* 튜플 자료형(순서O, 중복O, 수정X, 삭제X)
  * 한번 들어가면 불변
  * 이러한 특징을 활용해야하는 곳에는 리스트 대신 튜플을 사용

In [1]:
# 선언
a = ()
b = (1)       # 한개일 때는 컴마를 찍지 않으면, int값으로 인지
b = (1,)
c = (11, 12, 13, 14)
d = (100, 1000, 'Ace', 'Base', 'Captine')
e = (100, 1000, ('Ace', 'Base', 'Captine'))
print(type(a), type(b))

<class 'tuple'> <class 'tuple'>

In [2]:
# 인덱싱
print('d - ', d[1])
print('d - ', d[0] + d[1] + d[1])     # 계산도 가능
print('d - ', e[-1])                  # 튜플이 반환
print('d - ', e[-1][1])
print('d - ', list(e[-1][1]))         # 리스트로 형변환 : 튜플의 성질이 리스트로 변경됨. 즉 수정 삭제 가능

d -  1000
d -  2100
d -  ('Ace', 'Base', 'Captine')
d -  Base
d -  ['B', 'a', 's', 'e']

In [3]:
# 수정X
d[0] = 1500

TypeError: ignored

In [4]:
# 슬라이싱
print('d - ', d[0:3])
print('d - ', d[2:])
print('d - ', e[2][1:3])

d -  (100, 1000, 'Ace')
d -  ('Ace', 'Base', 'Captine')
d -  ('Base', 'Captine')

In [5]:
# 튜플 연산
print('c + d', c + d)
print('c * 3', c * 3)

c + d (11, 12, 13, 14, 100, 1000, 'Ace', 'Base', 'Captine')
c * 3 (11, 12, 13, 14, 11, 12, 13, 14, 11, 12, 13, 14)

### 튜플 함수

In [6]:
a = (5, 2, 3, 1, 4)
print('a - ', a)

a -  (5, 2, 3, 1, 4)

In [7]:
print('a - ', a.index(3))

print('a - ', a.count(2))

a -  2
a -  1

### 팩킹 & 언팩킹(Packing and Unpacking)

In [8]:
# 팩킹 : 하나로 묶다 = 튜플을 선언
t = ('foo', 'bar', 'baz', 'qux')
print(t)
print(t[0])

('foo', 'bar', 'baz', 'qux')
foo

In [9]:
# 언팩킹1 : 각각을 할당
(x1, x2, x3, x4) = t          # 괄호가 없어도 언팩킹은 됨
print(type(x1), type(x2), type(x3), type(x4))
print(x1, x2, x3, x4)

<class 'str'> <class 'str'> <class 'str'> <class 'str'>
foo bar baz qux

In [10]:
# 팩킹 & 언팩킹
t2 = 1, 2, 3                # 팩킹
t3 = 4,                     # 팩킹

x1, x2, x3 = t2             # 언팩킹
x4, x5, x6 = 4, 5, 6        # 언팩킹

# 5) 딕셔너리

## 딕셔너리(5-1) : 딕셔너리는 유용하게 자주 사용해요.
* 범용적으로 가장 많이 사용
* 딕셔너리 자료형 (순서X, 키 중복X, 수정O, 삭제O)

In [11]:
# 선언 : 방법이 다양
a = {'name' : 'Kim', 'phone' : '0103337777', 'birth' : '870514'}      # key : value / key는 숫자형도 가능함
b = {0 : 'Hello Python'}
c = {'arr' : [1,2,3,4]}
d = {
    'Name' : 'Niceman',
    'City' : 'Seoul',
    'Age' : 33,
    'Grade' : 'A',
    'Status' : True
}
e = dict([
    ('Name', 'Niceman'),
    ('City', 'Seoul')
])
f = dict(
    Name = 'Niceman',
    City = 'Seoul',
    Age = 33,
    Grade = 'A',
    Status = True
)

In [12]:
# 출력
print('a - ', type(a), a)

a -  <class 'dict'> {'name': 'Kim', 'phone': '0103337777', 'birth': '870514'}

In [13]:
# 출력
print('a - ', a['name'])
print('a - ', a.get('name'))

#print('a - ', a['name1'])           # erorr!
print('a - ', a.get('name1'))       # None -> 프로그램의 흐름이 끊기지 않기 때문에, get을 더 많이 씀

a -  Kim
a -  Kim
a -  None

In [14]:
print('b - ', b[0])
print('b - ', b.get(0))

b -  Hello Python
b -  Hello Python

In [15]:
print('f - ', f.get('City'))

f -  Seoul

## 딕셔너리(5-2)

In [18]:
# 추가
a['address'] = 'Seoul'
print('a - ', a)

a['rank'] = [1,2,3]
print('a - ', a)

a -  {'name': 'Kim', 'phone': '0103337777', 'birth': '870514', 'adress': 'Seoul', 'address': 'Seoul'}
a -  {'name': 'Kim', 'phone': '0103337777', 'birth': '870514', 'adress': 'Seoul', 'address': 'Seoul', 'rank': [1, 2, 3]}

In [19]:
# key의 길이
print('a - ', len(a))

a -  6

### 함수
* dict_keys, dict_values, dict_items : 반복문(__iter__)에서 사용 가능

In [20]:
print('a - ', a.keys())
print('b - ', b.keys())
print('c - ', c.keys())
print('d - ', d.keys())

a -  dict_keys(['name', 'phone', 'birth', 'adress', 'address', 'rank'])
b -  dict_keys([0])
c -  dict_keys(['arr'])
d -  dict_keys(['Name', 'City', 'Age', 'Grade', 'Status'])

In [21]:
print('a - ', list(a.keys()))       # 형변환

a -  ['name', 'phone', 'birth', 'adress', 'address', 'rank']

In [22]:
print('a - ', a.values())
print('b - ', b.values())
print('c - ', c.values())

a -  dict_values(['Kim', '0103337777', '870514', 'Seoul', 'Seoul', [1, 2, 3]])
b -  dict_values(['Hello Python'])
c -  dict_values([[1, 2, 3, 4]])

In [23]:
print('a - ', list(a.values()))       # 형변환

a -  ['Kim', '0103337777', '870514', 'Seoul', 'Seoul', [1, 2, 3]]

In [24]:
# e 형태로 선언한 형태로 출력 / tuple 형태!
print('a - ', a.items())
print('b - ', b.items())
print('c - ', c.items())

a -  dict_items([('name', 'Kim'), ('phone', '0103337777'), ('birth', '870514'), ('adress', 'Seoul'), ('address', 'Seoul'), ('rank', [1, 2, 3])])
b -  dict_items([(0, 'Hello Python')])
c -  dict_items([('arr', [1, 2, 3, 4])])

In [25]:
# pop
print('a - ', a.pop('adress'))
print('a - ', a)

a -  Seoul
a -  {'name': 'Kim', 'phone': '0103337777', 'birth': '870514', 'address': 'Seoul', 'rank': [1, 2, 3]}

In [26]:
# popitem : 임의로 빼기 (추첨기처럼 랜덤으로 뭔가 뽑을 때)
print('f - ', f.popitem())
print('f - ', c)

f -  ('Status', True)
f -  {'arr': [1, 2, 3, 4]}

In [27]:
# key가 dict에 있는지
print('a - ', 'birth' in a)
print('a - ', 'birth2' in a)

a -  True
a -  False

### 수정

In [28]:
# 방법 1
a['address'] = 'dj'
print('a - ', a)

# 방법 2
a.update(birth='971013')

# 방법 3
temp = {'address' : 'Busan'}
a.update(temp)

a -  {'name': 'Kim', 'phone': '0103337777', 'birth': '870514', 'address': 'dj', 'rank': [1, 2, 3]}

# 6) 집합

## 집합(6-1) : 알고나면 강력한 집합 자료형

집합(Set) 특징
* 집합(Set) 자료형(순서X, 중복X)

In [2]:
# 선언
a = set()
b = set([1, 2, 3, 4])
c = set([1, 4, 5, 6])
d = set([1, 2, 'Pen', 'Cap', 'Plate'])
e = {'foo', 'bar', 'baz', 'foo'}          # 딕셔너리랑 혼동 조심
f = {42, 'foo', (1, 2, 3), 3.14159}

print('a - ', type(a), a)
print('b - ', type(b), b)
print('c - ', type(c), c)
print('d - ', type(d), d)
print('e - ', type(e), e)
print('f - ', type(f), f)

a -  <class 'set'> set()
b -  <class 'set'> {1, 2, 3, 4}
c -  <class 'set'> {1, 4, 5, 6}
d -  <class 'set'> {1, 2, 'Pen', 'Cap', 'Plate'}
e -  <class 'set'> {'foo', 'bar', 'baz'}
f -  <class 'set'> {42, 3.14159, 'foo', (1, 2, 3)}

In [3]:
# 튜플 변환 (set -> tuple)
t = tuple(b)
print('t - ', type(t), t)
print('t - ', t[0])         # 튜플이라 슬라이싱 가능

t -  <class 'tuple'> (1, 2, 3, 4)
t -  1

In [5]:
# 리스트 변환 (set -> list)
l1 = list(c)
l2 = list(e)

print('l - ', l1)
print('l2 - ', l2)

l -  [1, 4, 5, 6]
l2 -  ['foo', 'bar', 'baz']

In [6]:
# 길이
print(len(a))
print(len(b))
print(len(c))
print(len(d))
print(len(e))
print(len(f))

0
4
4
5
3
4

In [7]:
# 집합 자료형 활용
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

# 교집합
print('s1 & s2', s1 & s2)
print('s1 & s2', s1.intersection(s2))

# 합집합
print('s1 | s2', s1 | s2)
print('s1 | s2', s1.union(s2))

# 차집합
print('s1 - s2', s1 - s2)
print('s1 - s2', s1.difference(s2))

s1 & s2 {4, 5, 6}
s1 & s2 {4, 5, 6}
s1 | s2 {1, 2, 3, 4, 5, 6, 7, 8, 9}
s1 | s2 {1, 2, 3, 4, 5, 6, 7, 8, 9}
s1 - s2 {1, 2, 3}
s1 - s2 {1, 2, 3}

In [8]:
# 중복 원소 확인
print('s1 & s2', s1.isdisjoint(s2))         # False가 나올때 중복 원소가 있다는 뜻

# 부분 집합 확인
print('subset : ', s1.issubset(s2))
print('superset : ', s1.issuperset(s2))

s1 & s2 False
subset :  False
superset :  False

In [9]:
# 추가 & 제거
s1 = set([1, 2, 3, 4])

s1.add(5)
print('s1 - ', s1)

s1 -  {1, 2, 3, 4, 5}

In [11]:
s1.remove(5)                  # 없는 원소를 지우면 예외(error) 발생 함!
print('s1 - ', s1)

s1.discard(3)                 # 없는 원소를 지우면 예외(error) 발생 안함
print('s1 - ', s1)

KeyError: ignored

In [12]:
s1.clear()                  # 전부 삭제
print(s1)

set()